[submodule "2-year/1term/Biophysics/Final_project/JanI_Jaume_Joan_David"]
	path = 2-year/1term/Biophysics/Final_project/JanI_Jaume_Joan_David
	url = https://github.com/Janek21/Bioinformatics2023-Biophysics-Energy_analysis
